<div class="form-page">
  <h2>Editing article</h2>
  <%= render "form", article: @article %>
  <div class="articles-form-submit-wrapper">
    <%= button_to 'Delete this article', {controller: :articles, action: :destroy, id: @article.id}, method: :delete, class: "articles-form-submit" %>
  </div>
</div>