<div class="static-content">
  <h2>About Me</h2>
  <p>My name is Colby Birkhead. I do web and game stuff.</p>
  <p>This is my blog where I write things</p>
  <a href='https://birkheadc.me' target='_blank' rel='noreferrer'>Visit my homepage!</a>
</div>