<div class="static-content">
  <h2>Contact Colby</h2>
  <ul class="socials-ul">
    <li><a class='icon-link social-icon' href='https://www.facebook.com/#!/profile.php?id=100000139877934' target='_blank' rel="noreferrer"><img alt='My Facebook' src="/icons/facebook.png"></img></a></li>
    <li><a class='icon-link social-icon' href='https://github.com/birkheadc' target='_blank' rel="noreferrer"><img alt='My Github' src="/icons/github.png"></img></a></li>
    <li><a class='icon-link social-icon' href='https://www.linkedin.com/in/colby-birkhead' target='_blank' rel="noreferrer"><img alt='My LinkedIn' src="/icons/linkedin.png"></img></a></li>
  </ul>
  <p>Or don't. I'm not your dad.</p>
</div>