article {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  max-width: 800px;
  margin: 0 auto;
}

article h2 {
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 4rem;
}

article h3 {
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 2rem; 
}

.posted-date {
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 1.5rem;
}

.article-content {
  font-size: 1.3rem;
}

.article-head {
  text-align: center;
  width: fit-content;

  margin: 0 auto;
}