header {
  position: fixed;
  text-align: center;
  width: 100%;
  background-color: var(--clr-bg-sec  );
  color: var(--clr-text-sec);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.75em 1em 0.5em 1em;
}

header h1 {
  font-size: 2rem;
}